/* You can add global styles to this file, and also import other style files */


@use '@angular/material' as mat;

/* ------------------------------ Import Fonts ------------------------------ */
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-COND.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-CONDIT.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MyriadPro-Light.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-SEMIBOLD.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-SEMIBOLD.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLDCOND.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLD.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLDIT.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}



/* ---------------------------- Import Fonts end ---------------------------- */


/* $my-app-primary: mat.define-palette((
  50: #f5f5f5,
  100: #e0e0e0,
  200: #d6d6d6,
  300: #dcdcdc, // Your preferred base
  400: #c0c0c0,
  500: #dcdcdc, // Default primary
  600: #bdbdbd,
  700: #0096bb, // Hover shade
  800: #9e9e9e,
  900: #7d7d7d,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #414141,
    400: #000,
    500: #414141,
    600: #000,
    700: #fff,
    800: #fff,
    900: #fff
  )
));

$my-app-primary: mat.define-palette(mat.$green-palette);
$my-app-accent: mat.define-palette(mat.$orange-palette, 700);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme((
  color: (
    primary: $my-app-primary,
    accent: $my-app-accent,
    warn: $my-app-warn,
  )
));

@include mat.all-component-themes($my-app-theme); */

$my-theme: mat.define-theme($config: (
    typography: (plain-family: '"Myriad Pro", sans-serif',
      brand-family: '"Myriad Pro", sans-serif',
    ),
  ),
);

:root {
  @include mat.all-component-themes($my-theme);
  @include mat.all-component-typographies($my-theme);
}

body {
  height: 100%;
  font-size: 14px;
  padding: 20px;
  margin: 0;
  font-family: 'Myriad Pro', Montserrat, sans-serif;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay {
  background-color: white !important;
}