/* You can add global styles to this file, and also import other style files */


@use '@angular/material' as mat;

$my-theme: mat.define-theme($config: (
    typography: (plain-family: '"MyriadPro", sans-serif',
      brand-family: '"MyriadPro", sans-serif',
    ),
  ),
);

:root {
  @include mat.all-component-themes($my-theme);
  @include mat.all-component-typographies($my-theme);
}


/* ------------------------------ Import Fonts ------------------------------ */
@font-face {
  font-family: MyriadPro;
  src: url("assets/css/fonts/MyriadFont/MyriadPro-Regular.otf");
  src: url("assets/css/fonts/MyriadFont/MyriadProRegular.eot") format("embedded-opentype"), url(assets/css/fonts/MyriadFont/MyriadProRegular.woff2) format("woff2"), url(assets/css/fonts/MyriadFont/MyriadProRegular.woff) format("woff"), url(assets/css/fonts/MyriadFont/MyriadProRegular.ttf) format("truetype"), url(assets/css/fonts/MyriadFont/MyriadProRegular.svg#MyriadProRegular) format("svg");
  font-weight: 500; // ✅ This is the key fix
  font-style: normal;
  font-display: swap;
}


/* ---------------------------- Import Fonts end ---------------------------- */

html,body{
  font-family: "MyriadPro";
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay {
  background-color: white !important;
}